<section class="m-links margin-bottom-regular">
  <h2 class="m-links__title l-block {{#if banner }}m-links__title--banner{{/if}} {{#if payoff }}m-links__title--payoff{{/if}}">{{title}}</h2>
  {{#if banner }}
    <img class="m-links__banner" src="./assets/images/{{banner}}" alt="Dal blog Progettare per le persone">
  {{/if}}
  {{#if payoff }}
    <p class="m-links__payoff">{{payoff}}</p>
  {{/if}}
  <ul class="m-links__list l-block">
  {{#each posts}}
    <li class="m-links__item">
      <a href="{{link}}" class="m-links__link">{{title}}</a>
    </li>
   {{/each}}
  </ul>
</section>
