<article class="m-speaker">
  <img src="./assets/images/{{img}}" alt="A photo of {{name}}" class="m-speaker__img">
  <div class="m-speaker__inner">
    <h2 class="m-speaker__name">
      {{name}}
    </h2>
    <a href="http://twitter.com/{{twitter}}" class="m-speaker__twitter">
      @{{twitter}}
    </a>
  </div>
</article>
