<!DOCTYPE html>
<html lang="en" class="m-home">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    <!-- CSS -->
    {{#if production}}
      <link rel="stylesheet" href="{{assets}}/css/app.min.css">
    {{else}}
      <link rel="stylesheet" href="{{assets}}/css/app.css">
    {{/if}}

    {{> _metatags}}

  </head>
  <body>

    <main id="main" class="l-main" role="main">
      {{> body }}
    </main>

  {{#if production}}
    <script async src="{{assets}}/js/app.min.js"></script>
  {{else}}
    <script src="{{assets}}/js/app.js"></script>
  {{/if}}
  </body>
</html>
