<!DOCTYPE html>
<html lang="it" class="">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{assets}}/css/app.css">
    <script async src="{{assets}}/js/modernizr.js"></script>
    <script src="//use.typekit.net/dhr7qos.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

  </head>
  <body>

    {{> _header}}
    <main id="main" class="main l-block__container" role="main">
      {{> body }}
      {{> _footer}}

    </main>

  <script src="{{assets}}/js/app.js"></script>
  </body>
</html>
