<!DOCTYPE html>
<html lang="it" class="">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{assets}}/css/app.css">
    <script async src="{{assets}}/js/modernizr.js"></script>
    <script src="//use.typekit.net/dhr7qos.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

  </head>
  <body>

    {{> _header}}
    <main id="main" class="main l-block__container" role="main">
      <article class="l-article">
        <h1 class="as-h2 l-article__title">
          {{title}}
        </h1>
        <div class="l-article__main l-article__main--service l-article__content">
          {{#markdown}}
            {{> body }}
          {{/markdown}}
        </div>
        <aside class="l-article__aside l-article__aside--related">
          {{#is page.section "ricerca"}}
            {{> _category-ricerca}}
          {{/is}}
          {{#is page.section "progettazione"}}
            {{> _category-progettazione}}
          {{/is}}
          {{#is page.section "valutazione"}}
            {{> _category-valutazione}}
          {{/is}}
        </aside>
      </article>
      <section class="l-related clearfix">
        {{> _categories}}
      </section>
    </main>
    {{> _footer}}

  <script src="{{assets}}/js/app.js"></script>
  </body>
</html>


